Show host names in log view

Would make it easier to judge what apps are doing.


[After some research](https://developer.android.com/reference/javax/net/ssl/HostnameVerifier.html) and a lot of troubles (because [I'm asked a friend about this implementation](https://developer.android.com/reference/java/net/InetAddress.html) in Java and he said it's _almost impossible_) I found out that [it's very hard](http://ipadmin.junkemailfilter.com/rdns.php), [especially for TLS](http://tools.ietf.org/html/rfc5246).

[Here is a good example about the problems and some code](https://tersesystems.com/2014/03/23/fixing-hostname-verification/) but that won't work well at all. No even Orcale (a multi billion dollar concern [isn't able to implement it proper](http://mail.openjdk.java.net/pipermail/security-dev/2012-August/005371.html) and on the HTTPClient side there are also a lot of [problems](http://stackoverflow.com/a/18174689/5266).

So overall it may work on normal connections but not on the problematic [RFC 6125](https://tools.ietf.org/html/rfc6125), [RFC 2818](https://tools.ietf.org/html/rfc6125) & rDNS [RFC 2317](http://tools.ietf.org/html/rfc2317).


It's also broken (or may not work 100% correct) in the following apps:
* IPTools
* DNS Hostname Changer
* [resolve-hostname](https://github.com/tagomoris/resolve-hostname)
* [Android itself](https://code.google.com/p/android/issues/detail?id=6111) (3 [up to](https://code.google.com/p/android/issues/detail?id=8030) 4.4.2)
* [OwnCloud](https://github.com/owncloud/android/issues/17)
* SNI and TLSv1.2 seems to work (not 100% tested because of time reasons)
* [CONFIG_ANDROID_PARANOID_NETWORK](http://earthwithsun.com/questions/616598/only-root-can-resolve-dns-hostnames-on-debian)
* ... and [others](http://answer.techwikihow.com/1115772/resolve-hostname-ip-android.html)

On other systems this seems to work well:
* On Linux I know <code># dig -x 64.233.189.104</code> works quite well (but the dns server must have reverse dns lookup implemented) - or as [NetBIOS](http://linux.die.net/man/8/nmbd) via nmbd.
* On Windows there is simply <code>nslookup %ip address%</code>.

I know this does not help much, but it's not good to implement something which only can horrible fail because the user will immediately asking why (as said) xyz is not resolved. 
So, I think this will never implemented and if -  it never works on sites like TLS v1.2 or sites someone really wants to audit for security reasons, and bigger sites like google and amazon already using TLSv1+.